@import '_vars.scss';

.logo-text{
    color: $second-color;
    font-family: $main-font;
    font-size: 29px;
}

.nav-item{
    font-family: $main-font;
    font-size: 18px;
    .fa{
        color: $second-color;
        font-size: 25px;
    }
}

.banner-block{
    background-image: url(../img/banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    
    .arrow-prev {
        background-image: url(../img/arrow_left.png);
    }

    .arrow-next {
        background-image: url(../img/arrow_right.png);
    }
    
    .label{
        font-family: $second-font, serif;
        text-shadow: -4px 4px #000, -4px 4px rgba(200, 120, 22, .2);
        color: #fbfbfb;
        font-size: 111px;
    }

    .label-2{
        color: #fbfbfb;
        font-family: $label-font, serif;
        font-size: 27px;
    }
}

.quote{
    border-top: 2px solid #bfbfbf;
    border-bottom: 2px solid #bfbfbf;
}

.color-span {
    color: #82699d;
    font-weight: bold;
}

.photo{
    cursor: pointer;
}

.content-block{
    color: $content-color;
}

.read-more{
    cursor: pointer;
    font-family: $label-font;
    font-style: italic;
    font-size: 13px;
    color: $content-color;
}

.fa-arrow-right{
    color: $content-color;
    cursor: pointer;
}

.label-3 {
    font-size: 19px;
}

.label-3:before,
    .label-3:after {
        background-color: #e2e2e2;
    }

.clients {
    border: 2px solid #dedede; 
    background: #f5f5f5;

    .img-client{
        border-right: 2px solid #dedede;
    }
}

.footer-block{
    background: #e8e8e8;
    border-bottom: 10px solid $main-color;
}