@font-face {
    font-family: 'Samo Sans Pro Regular';
    src: url('../fonts/SamoSansPro/SamoSansPro.eot');
    src: url('../fonts/SamoSansPro/SamoSansPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SamoSansPro/SamoSansPro.woff') format('woff'),
    url('../fonts/SamoSansPro/SamoSansPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StRydeRegular';
    src: url('../fonts/StRyde_Regular/StRyde-Regular.otf');
}

@font-face {
    font-family: 'SofiaProLight';
    src: url('../fonts/SofiaProLight/SofiaProLight.eot');
    src: url('../fonts/SofiaProLight/SofiaProLight.ttf');
}