$main-color: #9374b5;
$second-color: #a292b3;
$main-font: "Samo Sans Pro Regular";
$second-font: "StRydeRegular";
$label-font: "SofiaProLight";
$content-font: 'Segoe UI', sans-serif;
$content-color: #838383;