* {
  box-sizing: border-box;
}

h1 {
  color: #9374b5;
  font-size: 50px;
  font-family: "Samo Sans Pro Regular";
}

h2 {
  font-size: 26px;
  font-family: "SofiaProLight";
  font-weight: bold;
  color: #505051;
  margin-bottom: -10px;
}

a {
  text-decoration: none;
}

blockquote, p {
  font-family: "Segoe UI", sans-serif;
}

blockquote {
  font-style: italic;
  font-size: 21px;
  line-height: 1.5;
}

.container {
  display: flex;
  justify-content: center;
}

.arrow {
  background-repeat: no-repeat;
  position: relative;
}

.container {
  width: 1000px;
}

@font-face {
  font-family: 'Samo Sans Pro Regular';
  src: url("../fonts/SamoSansPro/SamoSansPro.eot");
  src: url("../fonts/SamoSansPro/SamoSansPro.eot?#iefix") format("embedded-opentype"), url("../fonts/SamoSansPro/SamoSansPro.woff") format("woff"), url("../fonts/SamoSansPro/SamoSansPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StRydeRegular';
  src: url("../fonts/StRyde_Regular/StRyde-Regular.otf");
}

@font-face {
  font-family: 'SofiaProLight';
  src: url("../fonts/SofiaProLight/SofiaProLight.eot");
  src: url("../fonts/SofiaProLight/SofiaProLight.ttf");
}

.min-logo span {
  color: #a292b3;
  font-family: "Samo Sans Pro Regular";
  font-size: 29px;
}

.top-nav a {
  font-family: "Samo Sans Pro Regular";
  font-size: 18px;
}

.top-nav .fa {
  color: #a292b3;
  font-size: 25px;
}

.banner-section .label {
  font-family: "StRydeRegular", serif;
  text-shadow: -4px 4px #000, -4px 4px rgba(200, 120, 22, 0.2);
  color: #fbfbfb;
  font-size: 111px;
}

.banner-section .label-2 {
  color: #fbfbfb;
  font-family: "SofiaProLight", serif;
  font-size: 27px;
}

.quote {
  border-top: 2px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
}

.color-span {
  color: #82699d;
  font-weight: bold;
}

.photo {
  cursor: pointer;
}

.content-block {
  color: #838383;
}

.read-more {
  cursor: pointer;
  font-family: "SofiaProLight";
  font-style: italic;
  font-size: 13px;
  color: #838383;
}

.label-3 {
  font-size: 19px;
}

.label-3:before,
.label-3:after {
  background-color: #e2e2e2;
}

.clients-block img, .clients-block a {
  background: #f5f5f5;
}

footer {
  background: #e8e8e8;
  border-bottom: 5px solid #9374b5;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #a292b3;
}

.top-section .logo {
  width: 400px;
}

.top-section .text {
  margin: 150px 35px;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-section .min-logo {
  margin-top: 20px;
  align-items: center;
  align-self: flex-start;
  display: flex;
}

.nav-section .min-logo img {
  height: 70px;
  width: 70px;
  margin-right: 15px;
}

.nav-section .top-nav {
  padding-top: 20px;
  margin-right: 0;
  display: flex;
}

.nav-section .top-nav a {
  margin-right: 60px;
}

.nav-section .top-nav:last-child {
  margin-right: -50px;
}

.nav-section .top-nav .fa {
  margin-right: 9px;
}

.banner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  position: relative;
}

.banner-section .arrows_block {
  width: 1000px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.banner-section .label {
  position: absolute;
  display: flex;
}

.banner-section .label-2 {
  position: absolute;
  margin-top: 70px;
  letter-spacing: 1.5px;
}

.quote-block {
  display: flex;
  justify-content: center;
  text-align: center;
}

.quote-block .quote {
  text-indent: 10px;
  padding: 10px 50px 10px 50px;
}

.content-section {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-section img {
  height: 200px;
  min-width: 200px;
}

.content-section .content-block {
  position: relative;
  line-height: 1.5;
  margin-left: 30px;
}

.content-section .read-more {
  position: absolute;
  right: 0;
  bottom: 0;
}

.text-delimeter-block {
  width: 1000px;
  margin: 30px auto;
}

.text-delimeter-block .label-3 {
  overflow: hidden;
  text-align: left;
  left: 20px;
}

.text-delimeter-block .label-3 span {
  display: inline-block;
  vertical-align: middle;
}

.text-delimeter-block .label-3:before,
.text-delimeter-block .label-3:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 4px;
  left: 20px;
  position: relative;
}

.text-delimeter-block .label-3:before {
  margin-left: -100%;
  left: -14px;
}

.text-delimeter-block .label-3:after {
  margin-right: -100%;
  right: -14px;
}

.clients-block {
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.clients-block a {
  width: 1000px;
  height: 74px;
  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
  border-left: 2px solid #dedede;
}

.clients-block a:last-child {
  border-right: 2px solid #dedede;
}

footer {
  height: 72px;
}

footer .footer-block {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-block .copyright {
  margin-top: 20px;
}

footer .footer-block .icons {
  margin-top: 20px;
  margin-right: 0;
  letter-spacing: 20px;
}
/*# sourceMappingURL=main.css.map */